@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bindumathi';
    src: url('./assets/bindumathi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bindumathi', sans-serif;
}