.accident-show-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .accident-show-main {
    display: flex;
    flex-grow: 1;
    background-color: #f9f9f9;
  }
  
  .accident-details-container {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loader {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  .error {
    text-align: center;
    font-size: 18px;
    color: red;
  }
  