.announcement {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.announcement-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #b5a6a600;
}

h2 {
  margin-bottom: 20px;
  color: #0c0b0b;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.alert.success {
  background-color: #4caf50;
}

.alert.error {
  background-color: #f44336;
}