.complaint-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* margin: 20px; */
    width: 100%;
  }
  
  .complaint-details h2 {
    margin-bottom: 15px;
  }
  
  .complaint-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .complaint-details strong {
    font-weight: bold;
  }