.report-content-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* For positioning loading message */
}

.button-group {
    display: flex; /* Use flexbox for horizontal arrangement */
    margin-bottom: 20px;
}

.button {
    padding: 12px 24px;
    background-color: #007bff; /* Primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Added transition for transform and box-shadow */
    margin-right: 10px; /* Space between buttons */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

.button.active {
    background-color: #0056b3; /* Keep active state color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Stronger shadow for active button */
}

.button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* Custom focus ring */
}

/* Loading container styles */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px); /* Adjust height based on your layout */
    text-align: center; /* Center text horizontally */
}

.loading-container p {
    margin-top: 10px;
    font-size: 18px;
    color: lightgray; /* Light gray color for text */
}

/* Rotate spinner icon */
.loading-container .fa-spinner {
    animation: spin 1s linear infinite; /* Spin animation for the loading icon */
}

/* Keyframes for spinning effect */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}